@model tutioncloud.Models.Wordutopia

@{
    ViewBag.Title = "Home";
    Layout = "../Shared/_Layout_Wordutopia_Admin.cshtml";

}
<script>
        $(document).ready(function () {


            $("#btnShow").on("click", function () {
                $("#show").show();
            });

        });

</script>

<br />
<br />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Wordutopia - Reverse Test</h4>
        <hr />

        <div class="col-md-offset-3 col-md-6">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Tasks Dropdown List
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <!-- Add header here -->
                    <li><a href="Index">Main Panel</a></li>
                    <li><a href="Home">Back</a></li>
                    <li><a href="Index">Show All Words </a></li>
                    <li><a href="ReviewWords">Review Words</a></li>
                    <li><a href="ReverseTest">Reverse Test </a></li>

                </ul>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            @Html.LabelFor(model => model.FWUserID, "FWUserID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FWUserID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FWUserID, "", new { @class = "text-danger" })
            </div>
        </div>*@
        @Html.LabelFor(model => model.Definition, htmlAttributes: new { @class = "control-label col-md-offset-2 col-md-2" })

<br />
<br />
        <div class="form-group">
            <div class="col-md-2">
                <a href="@Url.Action("prevR", "Wordutopia",new { id = Model.WordID})" title="Previous">
                    <img alt="List View" src="@Url.Content("~/images/prev.png")">
                    Previous
                </a>
            </div>


            <div class="col-md-5">
                @Html.EditorFor(model => model.Definition, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Definition, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-2">
                <a href="@Url.Action("nextR", "Wordutopia",new { id = Model.WordID})" title="Next">
                    Next  <img alt="List View" src="@Url.Content("~/images/next.png")">
                  

                </a>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2" id="btnWord">
                <img src="~/images/word.png" alt="List View" width="40" height="40">
                &nbsp;&nbsp;&nbsp; Word
            </div>

            <div class="col-md-5">
                @Html.EditorFor(model => model.Word, new { htmlAttributes = new { @class = "form-control", @id = "txtWord" } })
                @Html.ValidationMessageFor(model => model.Word, "", new { @class = "text-danger" })
            </div>
          
        </div>

        <div class="form-group">
            <div class="col-md-2" id="btnPhrase">
                <img src="~/images/phrase2.png" alt="List View" width="40" height="40">
                &nbsp;&nbsp;&nbsp; Phrase
            </div>
                        <div class="col-md-5">
                @Html.EditorFor(model => model.Phrase, new { htmlAttributes = new { @class = "form-control",@id="txtPhrase" } })
                @Html.ValidationMessageFor(model => model.Phrase, "", new { @class = "text-danger" })
            </div>
          
        </div>

        <div class="form-group">
            <div class="col-md-2" id="btnHint">
                <img src="~/images/hint.png" alt="List View"  width="35" height="35">
                    &nbsp;&nbsp;&nbsp; Hint
            </div>
            @*@Html.LabelFor(model => model.Hint, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-5">
                @Html.EditorFor(model => model.Hint, new { htmlAttributes = new { @class = "form-control",@id="txtHint" } })
                @Html.ValidationMessageFor(model => model.Hint, "", new { @class = "text-danger" })
            </div>
          
        </div>

     

        @*<br />
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>*@
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@




@section Scripts{
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        var hintText = $("#txtWord").val();
        console.log(hintText);
        $("#txtWord").val("");
        $("#btnWord").click(function () {
            $("#txtWord").val(hintText);
        });

    })
</script>

<script>
    $(document).ready(function () {
        var hintText = $("#txtPhrase").val();
        console.log(hintText);
        $("#txtPhrase").val("");
        $("#btnPhrase").click(function () {
            $("#txtPhrase").val(hintText);
        });

    })
</script>



    <script>
        $(document).ready(function () {
            var hintText = $("#txtHint").val();
            console.log(hintText);
            $("#txtHint").val("");
            $("#btnHint").click(function () {
                $("#txtHint").val(hintText);
            });

        })
    </script>
    
    }