@model PagedList.IPagedList<tutioncloud.Models.Choicer>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
@{
    ViewBag.Title = "Create";
    Layout = "../Shared/_Layout_Choicer_Admin.cshtml";
}

<script type="text/javascript">

    ////////////// to add test words /////////

    $(document).ready(function () {
        $('#BtnTest').click(function () {
            var testlist = [];
            var title = "";
            var time = "";
            var radioStatus = "";
            var rstatus = "";
            if ($('#radio1').is(':checked')) { radioStatus = 1; }
            if ($('#radio2').is(':checked')) { radioStatus = 2; }
            $('#tblword input:checked').each(function () {
                testlist.push(this.value);
            });
            // now names contains all of the names of checked checkboxes
            // do something with it for excamle post with ajax
            $.ajax({
                url: '@Url.Action("Create","CTest")',
                type: 'POST',
                data: {
                    TestWordsParameters: testlist,
                    title: $("#txtTitle").val(),
                    rstatus: radioStatus,
                    time: $("#txtTime").val()

                },
                success: function (result) {
                    alert("success")
                    window.location.href = '/CTest/Answer';
                },
                error: function (result) {
                    alert("error!");
                }
            });   //end ajax
        });
    });


</script>

<script type="text/javascript">

    function showTest() {
        $("#divTest").dialog({
            height: 500,
            width: 500,
            modal: true,
            title: "Create Test",
            button: {
                "OK": function () {
                    $(this).dialog("close");
                    alert('You selected OK !!')
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
    }
</script>

<br />
<br />

<h4>Choicer - Create Test</h4>
<hr />
<br />

@*<h4>
        <a href="@Url.Action("Create", "WordShare", null)" target="_blank">
            <img src="~/images/Create.png" style="width: 50px; height: 50px "> Create Word Share
        </a>
    </h4>*@
<div class="alert alert-info col-md-offset-1 col-md-9" role="alert">
    <b>PROCEDURE</b>
    <br />
    Step 1: Please Select Words For Test, and then click on "Create Test" link.
    <br />

    Step 2: Please fill the relevant requirement, and then click on "Selected Test Words" link on Drop Down Menu List.

</div>
<br />
<br />
<br />
<br />

<div class="col-md-6">
    @using (Html.BeginForm("Create", "CTest", FormMethod.Get))
    {
        <div class="form-group">
            Search By Word Name:
            <p>
                @Html.Editor("SearchString", ViewBag.CurrentFilter as string, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                &nbsp;  <input type="submit" value="Search" class="btn btn-primary" />
            </p>
        </div>

    }
</div>

<br />
<br />

<div class="col-md-6">
    <h4>
        <a onclick="showTest()">
            <img src="~/images/next.png" width="48" height="48" onclick="showTest()" alt="Create Test" value="Create Test" />
            Start Test
        </a>

    </h4>
</div>

<div class="clearfix"></div>

<div class="table-responsive" id="divTest" style="display:none">
    <div class="col-md-6">

        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Tasks Dropdown List
                <span class="caret"></span>
            </button>
           
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />

    <div class="col-md-6">

        <div>
            <h5 style="color:red;">
                Title
            </h5>
            @*@Html.Editor("Title", new { htmlAttributes = new { @class = "form-control", @Title = ViewBag.Title } })*@
            <input id="txtTitle" name="OperationNo" type="text" class="form-control" />
        </div>
        <br />
        <br />

        <div>
            <h5 style="color:red;">
                Test Type
            </h5>

            @*@Html.RadioButton("TotalTime",1, new { @TotalTime = ViewBag.TotalTime })*@
            <input type="radio" id="radio1" name="radioGroup" value="1">
            &nbsp;&nbsp; Total Time (In Minutes)
            <br />
            @*@Html.RadioButton("WordPerSecond",2, new { @Second = ViewBag.Second })*@
            <input type="radio" id="radio2" name="radioGroup" value="2">
            &nbsp;&nbsp; Word Per Second (In Seconds)

        </div>
        <br />
        <br />
        <div>
            <h5 style="color:red;">
                Time  (Minutes / Seconds)
            </h5>
            @*@Html.Editor("Time", new { htmlAttributes = new { @class = "form-control", @Time = ViewBag.Time } })*@
            <input id="txtTime" name="Operation" type="text" class="form-control" />
            <h4>
                <a href="#" id="BtnTest">
                    Start Test  <img src="~/images/next.png" alt="Create Test" />

                </a>            @*<img alt="List View" src="@Url.Content("~/images/next.png")">*@
            </h4>
        </div>
        <br />
        <br />
        @*<div class="form-group">
                <div class="col-md-10">
                    <input type="submit" id="BtnTest" value="Start Test" class="btn btn-default" />
                </div>
            </div>*@
        <br />
        <br />
    </div>
</div>
<br />


@*<div class="form-group">
        @Html.LabelFor(model => model.FWTUserID, "FWTUserID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("FWTUserID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FWTUserID, "", new { @class = "text-danger" })
        </div>
    </div>*@

<br />
<div style="height: 600px; overflow: scroll;">

    <div id="tblword">
        <br />
        <table class="table table-hover table-striped">
            <tr>
                <th>
                    @Html.DisplayName(" Select ")
                </th>
                <th>
                    @Html.ActionLink(" Questions ", "Create", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink(" Category ", "Create", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th></th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="selected" value=@item.ChoicerID />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CQuestion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>

                        @*@Html.ActionLink("Edit", "Edit", new { id = item.WordID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.WordID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.WordID })*@
                    </td>
                </tr>

            }

        </table>
    </div>
</div>

<br />
<br />
<br />

@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Create",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@














